<h2>User info</h2>

<% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーが発生しました
    <% @user.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
<% end %>

<%= form_for@user do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <label>Image</label>
  <%= f.attachment_field :profile_image %>
  <label>Introduction</label>
  <%= f.text_area :introduction %>

  <div class="actions">
    <%= f.submit "update user" %>
  </div>

<% end %>